<!-- templates/myapp/footer.html -->
<footer class="bg-dark text-white text-center py-3 mt-4">
  <div class="container">
    <div class="mb-3">
      <a
        href="https://www.facebook.com/yourprofile"
        class="text-white me-3"
        target="_blank"
      >
        <i class="fa-brands fa-facebook"></i>
      </a>
      <a
        href="https://www.linkedin.com/in/yourprofile"
        class="text-white me-3"
        target="_blank"
      >
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a
        href="https://github.com/yourprofile"
        class="text-white me-3"
        target="_blank"
      >
        <i class="fa-brands fa-github"></i>
      </a>
    </div>
    <p>&copy; 2025 Nasrat Website. All rights reserved.</p>
  </div>
</footer>
